.services-main-div {
  width: 100%;
  margin-top: 5rem;
}

.services-main-header {
  width: 100%;
  height: 500px;
  background-image: url(../../assets/images/services-header.webp);
  background-size: cover;
  background-position: center;
}

.services-main-header h1 {
  width: 100%;
  height: 100%;
  font-size: 4rem;
  color: white;
  background-color: #074887;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-main-para {
  width: 70%;
  margin: 2rem auto;
}

.services-main-para h2 {
  font-size: 3rem;
  font-weight: 500;
  color: #013759;
}

.services-main-para p {
  font-size: 18px;
  color: #666;
  font-weight: 400;
  margin: 1.5rem 0;
  word-spacing: 2px;
}

.services-main-card {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  margin-bottom: 2rem;
}

.services-main-card a {
  width: 31%;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.services-main-card a:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.services-main-item img {
  width: 100%;
  height: 250px;
  border-radius: 1rem 1rem 0 0;
}

.services-main-item h2 {
  font-size: 1.5rem;
  padding: 20px 10px;
  color: #2a4b6d;
  word-spacing: 2px;
}

.services-main-item p {
  font-size: 1rem;
  color: #070707;
  padding: 0 10px 20px 10px;
  word-spacing: 2px;
}

/* -------------------------- Responsive Design --------- */
@media (max-width: 1024px) {
  .services-main-para {
    width: 80%;
  }

  .services-main-card {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .services-main-div {
    margin-top: 2.5rem;
  }

  .services-main-header h1 {
    font-size: 2.5rem;
  }

  .services-main-para {
    width: 90%;
  }

  .services-main-para h2 {
    font-size: 2.5rem;
  }

  .services-main-card {
    width: 90%;
  }

  .services-main-card a {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .services-main-div {
    margin-top: 0;
  }

  .services-main-header {
    height: 400px;
  }

  .services-main-header h1 {
    font-size: 2rem;
  }

  .services-main-para {
    width: 95%;
  }

  .services-main-para h2 {
    font-size: 2rem;
  }

  .services-main-para p {
    font-size: 1rem;
  }

  .services-main-card {
    width: 95%;
    margin: 2rem auto;
  }

  .services-main-card a {
    width: 100%;
  }
}
