.service-facilities-div {
  width: 100%;
}

.service-facilities-header {
  width: 100%;
  height: 700px;
  background-image: url(../../assets/images/services-image1.jpg);
  background-size: cover;
  background-position: center;
}

.service-facilities-header h1 {
  width: 100%;
  height: 100%;
  font-size: 4rem;
  color: white;
  background-color: #074887;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-facilities-card {
  width: 70%;
  margin: 2.5rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.service-facilities-card a {
  width: 31%;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}

.service-facilities-card a:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.service-facilities-item img {
  width: 100%;
  height: 250px;
  border-radius: 1rem 1rem 0 0;
}

.service-facilities-item h2 {
  font-size: 1.5rem;
  padding: 20px 10px;
  color: #2a4b6d;
  word-spacing: 2px;
}

.service-facilities-item p {
  font-size: 1rem;
  color: #070707;
  padding: 0 10px 20px 10px;
  word-spacing: 2px;
}

/* -------------------------- Responsive Design --------- */
@media (max-width: 1024px) {
  .service-facilities-para {
    width: 80%;
  }

  .service-facilities-card {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .service-facilities-header h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .service-facilities-para {
    width: 90%;
  }

  .service-facilities-para h2 {
    font-size: 2.5rem;
  }

  .service-facilities-card {
    width: 90%;
  }

  .service-facilities-card a {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .service-facilities-div {
    margin-top: 0;
  }

  .service-facilities-header {
    height: 400px;
  }

  .service-facilities-header h1 {
    font-size: 2rem;
  }

  .service-facilities-para {
    width: 95%;
  }

  .service-facilities-para h2 {
    font-size: 2rem;
  }

  .service-facilities-para p {
    font-size: 1rem;
  }

  .service-facilities-card {
    width: 95%;
    margin: 2rem auto;
  }

  .service-facilities-card a {
    width: 100%;
  }
}
