.home-container {
  width: 100%;
}

.home-about {
  width: 70%;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
}

.home-about-video {
  width: 48%;
  height: 350px;
  border-radius: 16px;
  overflow: hidden;
}

.home-about-contant {
  width: 48%;
}

.home-about-contant h1 {
  font-size: 2rem;
  font-weight: 500;
}

.home-about-contant p {
  font-size: 18px;
  word-spacing: 2px;
  padding: 1rem 0;
}

.home-about-contant button {
  font-weight: bold;
  padding: 5px 1rem;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid black;
  background-color: white;
}

.home-about-contant button:hover {
  color: white;
  background-color: black;
}

.home-latest {
  width: 100%;
  background-color: #e2eff1;
  padding: 4rem 0;
}

.home-latest-header {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.home-latest-header h1 {
  font-size: 36px;
  color: #033452;
}

.home-latest-cards {
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.home-latest-cards::-webkit-scrollbar {
  display: none;
}

.home-latest-card {
  flex: 0 0 calc(34% - 20px);
  scroll-snap-align: start;
  border-radius: 10px;
}

.home-latest-card img {
  width: 100%;
  border-radius: 10px;
}

.home-latest-card h3 {
  font-size: 1rem;
  padding: 10px 0;
}

.home-latest-card h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.home-latest-card p {
  font-size: 18px;
  word-spacing: 2px;
  padding: 10px 0;
}
