.home-container {
  width: 100%;
}

.home-header {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.home-header-image {
  width: 100%;
  height: 800px;
  position: relative;
}

.home-header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-header-content {
  width: 70%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.home-header-content h1 {
  font-size: 5rem;
  font-weight: 400;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.home-header-content p {
  font-size: 1.5rem;
  margin: 20px 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.home-header-button {
  font-weight: bold;
  padding: 5px 1rem;
  margin-top: 2rem;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  border: 2px solid white;
  background-color: transparent;
}

.home-header-button:hover {
  background-color: white;
  color: black;
}

.home-about {
  width: 70%;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
}

.home-about-video {
  width: 48%;
  height: 350px;
  border-radius: 16px;
  overflow: hidden;
}

.home-about-contant {
  width: 48%;
}

.home-about-contant h1 {
  font-size: 2rem;
  font-weight: 500;
}

.home-about-contant p {
  font-size: 18px;
  word-spacing: 2px;
  padding: 1rem 0;
}

.home-about-contant button {
  font-weight: bold;
  padding: 5px 1rem;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid black;
  background-color: white;
}

.home-about-contant button:hover {
  color: white;
  background-color: black;
}

.home-latest {
  width: 100%;
  background-color: #e2eff1;
  padding: 4rem 0;
}

.home-latest-header {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.home-latest-header h1 {
  font-size: 36px;
  color: #033452;
}

.home-latest-cards {
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.home-latest-cards::-webkit-scrollbar {
  display: none;
}

.home-latest-card {
  flex: 0 0 calc(34% - 20px);
  scroll-snap-align: start;
  border-radius: 10px;
}

.home-latest-card img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.home-latest-card h2 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 10px;
}

.home-latest-card p {
  font-size: 18px;
  word-spacing: 2px;
  padding: 10px 0;
}

.home-journey {
  width: 100%;
  background-color: #fad648;
  color: #074887;
  padding: 2rem 15%;
  display: flex;
  justify-content: space-between;
}

.home-journey h1 {
  font-size: 3rem;
}

.home-impact {
  width: 100%;
  padding: 4rem 0;
  color: white;
  background-color: #074887;
}

.home-impact h1 {
  font-size: 2.5rem;
  padding-left: 15%;
}

.home-impact-cards {
  width: 70%;
  margin: 2.5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.home-impact-card {
  width: 47.5%;
  display: flex;
  justify-content: space-between;
}

.home-impact-image {
  width: 22%;
}

.home-impact-image img {
  width: 100%;
}

.home-impact-contant {
  width: 70%;
}

.home-impact-contant h2 {
  font-size: 2rem;
  color: #fad648;
}

.home-impact-contant h3 {
  font-size: 20px;
  padding-top: 10px;
}

/* ------------------------------ Responsive Styles ------------------------------ */
@media (max-width: 1024px) {
  .home-header-content,
  .home-about,
  .home-latest-header,
  .home-latest-cards,
  .home-impact-cards {
    width: 80%;
  }

  .home-journey {
    padding: 2rem 5%;
  }
  .home-journey h1 {
    font-size: 2rem;
  }
  .home-journey img {
    width: 40px;
  }

  .home-impact h1 {
    padding-left: 10%;
  }
}

@media (max-width: 768px) {
  .home-header-content,
  .home-about,
  .home-latest-header,
  .home-latest-cards {
    width: 90%;
  }

  .home-header-image {
    height: 600px;
  }
  .home-header-content h1 {
    font-size: 3.5rem;
  }
  .home-header-content p {
    font-size: 1rem;
  }

  .home-latest-card {
    flex: 0 0 calc(48%);
  }

  .home-journey h1 {
    font-size: 1.5rem;
  }
  .home-journey img {
    width: 30px;
  }

  .home-impact-cards {
    width: 95%;
  }
  .home-impact-image {
    width: 25%;
  }
  .home-impact h1 {
    padding-left: 5%;
  }
}

@media (max-width: 600px) {
  .home-container {
    margin-top: 2.5rem;
  }

  .home-header-image {
    height: 400px;
  }
  .home-header-content {
    width: 95%;
    top: 50%;
  }
  .home-header-content h1 {
    font-size: 2.5rem;
  }
  .home-header-content p {
    margin: 10px 0;
  }
  .home-header-button {
    margin-top: 1rem;
  }

  .home-about {
    width: 95%;
    flex-wrap: wrap;
    margin: 2rem auto;
  }
  .home-about-video {
    width: 100%;
  }
  .home-about-contant {
    width: 100%;
    margin-top: 1rem;
  }

  .home-latest {
    padding: 2rem 0;
  }
  .home-latest-header {
    width: 95%;
  }
  .home-latest-header h1 {
    font-size: 1.5rem;
  }
  .home-latest-cards {
    width: 95%;
  }
  .home-latest-card {
    flex: 0 0 calc(100%);
  }

  .home-journey {
    flex-direction: column;
  }
  .home-journey img {
    margin-top: 10px;
  }

  .home-impact {
    padding: 2rem 0;
  }
  .home-impact-card {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .home-header-image {
    height: 350px;
  }
  .home-header-content {
    left: 52.5%;
  }
  .home-header-content h1 {
    font-size: 2rem;
  }

  .home-about-contant h1 {
    font-size: 1.75rem;
    font-weight: 600;
  }

  .home-latest-header h1 {
    width: 70%;
  }
}
