.home-choose {
  width: 100%;
  padding: 4rem 0;
}

.home-choose h1 {
  width: 70%;
  margin: 0 auto;
  font-size: 3.5rem;
  color: #013759;
}

.home-choose-box {
  width: 70%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

.home-choose-image {
  width: 48%;
  height: 600px;
}

.home-choose-image img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.home-choose-qa {
  width: 48%;
}

.qa-card {
  width: 100%;
  border-radius: 1rem;
  border: 2px solid #ffd42f;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.qa-active-card {
  background-color: #ffd42f;
}

.qa-card h3 {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.qa-card p {
  font-size: 18px;
  word-spacing: 2px;
  padding-top: 1rem;
}

/* ------------------------------ Responsive Styles ------------------------------ */
@media (max-width: 1024px) {
  .home-choose h1,
  .home-choose-box {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .home-choose h1,
  .home-choose-box {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .home-choose {
    padding: 2rem 0 1rem 0;
  }

  .home-choose h1 {
    width: 95%;
    font-size: 2rem;
  }

  .home-choose-box {
    width: 95%;
    flex-wrap: wrap;
  }

  .home-choose-image {
    display: none;
  }

  .home-choose-qa {
    width: 100%;
  }
}
