*{
    font-family: Arial, Helvetica, sans-serif;
}

.background{
    width: 100%;
    position: relative;
}

.overlay {
    height: 625.312px;
    width: 1349px;
    background-color: #074887;
    position: absolute;
    inset: 0;
    opacity: .8;
}

.main-content h1{
    position: absolute;
    bottom: 140px;
    left: 115px;
    color: white;
    font-size: 65px;
    font-weight: 500;
}

.main-content ul{
    position: absolute;
    display: flex;
    gap: 50px;
    list-style: none;
    bottom: 40px;
    left: 120px;
}

.main-content ul li a{
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.container{
    padding: 2px;
    margin: 2px;
}

.in-page-nav{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 5px;
}

.in-page-nav a{
    color: black;
    border: 2px solid black;
    font-weight: 600;
    padding: 3px 18px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 2em;
    letter-spacing: .028em;
}

.in-page-nav a:hover{
    background-color: black;
    color: white;
}

.description{
    font-size: 18pt;
}