.main-content {
  width: 100%;
  margin-top: 5rem;
}

.incubationSupport-header {
  width: 100%;
  height: 700px;
  background-image: url(../../assets/images/incubation-support-header.png);
  background-size: cover;
  background-position: center;
}

.incubationSupport-header h1 {
  width: 100%;
  height: 100%;
  font-size: 4rem;
  color: white;
  background-color: #074887;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.incubationSupport-cards {
  width: 70%;
  margin: 3.5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 2.5%;
}

.incubationSupport-cards a {
  width: 31%;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.incubationSupport-cards a:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.incubationSupport-card img {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.incubationSupport-card-content {
  padding: 16px;
}

.incubationSupport-card-title {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #013759;
}

.incubationSupport-card-description {
  font-size: 1rem;
  color: black;
  line-height: 25px;
}

/* --------- Responsive Design --------- */
@media (max-width: 1024px) {
  .incubationSupport-cards {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .incubationSupport-header h1 {
    font-size: 2.5rem;
  }

  .incubationSupport-cards {
    width: 90%;
  }

  .incubationSupport-cards a {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .incubationSupport-header {
    height: 400px;
  }

  .incubationSupport-header h1 {
    font-size: 2rem;
  }

  .incubationSupport-cards {
    width: 95%;
    margin: 2rem auto;
  }

  .incubationSupport-cards a {
    width: 100%;
  }
}
