.home-blog {
  width: 100%;
  background-color: #e2eff1;
  padding: 4rem 0;
}

.home-blog-header {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.home-blog-header h1 {
  font-size: 36px;
  color: #033452;
}

.home-blog-cards {
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.home-blog-cards::-webkit-scrollbar {
  display: none;
}

.home-blog-card {
  flex: 0 0 calc(34% - 20px);
  scroll-snap-align: start;
  border-radius: 10px;
}

.home-blog-card img {
  width: 100%;
  border-radius: 10px;
}

.home-blog-card h3 {
  font-size: 1rem;
  padding: 10px 0;
}

.home-blog-card h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.home-blog-card p {
  font-size: 18px;
  word-spacing: 2px;
  padding: 10px 0;
}

/* ------------------------------ Responsive Styles ------------------------------ */
@media (max-width: 1024px) {
  .home-blog-header,
  .home-blog-cards {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .home-blog-header,
  .home-blog-cards {
    width: 90%;
  }

  .home-blog-card {
    flex: 0 0 calc(48%);
  }
}

@media (max-width: 600px) {
  .home-blog {
    padding: 2rem 0;
  }
  .home-blog-header,
  .home-blog-cards {
    width: 95%;
  }

  .home-blog-card {
    flex: 0 0 calc(100%);
  }
}
