.home-testimonials {
  width: 100%;
  padding: 4rem 0;
}

.home-testimonials-header {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.home-testimonials-header h1 {
  font-size: 2.5rem;
  color: #033452;
}

.home-testimonials-cards {
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.home-testimonials-cards::-webkit-scrollbar {
  display: none;
}

.home-testimonials-card {
  flex: 0 0 calc(48%);
  scroll-snap-align: start;
  border-radius: 10px;
  background-color: #074887;
  color: white;
  padding: 1rem 1.5rem;
}

.home-testimonials-card p {
  font-size: 18px;
  word-spacing: 2px;
  padding: 10px 0;
}

.home-testimonials-card h2 {
  font-size: 20px;
  padding-top: 4rem;
}

.home-testimonials-card h3 {
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 0;
}

/* ------------------------------ Responsive Styles ------------------------------ */
@media (max-width: 1024px) {
  .home-testimonials-header,
  .home-testimonials-cards {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .home-testimonials-header,
  .home-testimonials-cards {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .home-testimonials {
    padding: 2rem 0;
  }

  .home-testimonials-header,
  .home-testimonials-cards {
    width: 95%;
  }

  .home-testimonials-header h1 {
    font-size: 1.5rem;
  }

  .home-testimonials-card {
    flex: 0 0 calc(100%);
  }
}

@media (max-width: 320px) {
  .home-testimonials-header h1 {
    width: 70%;
  }
}
