.csr-header {
  width: 100%;
  margin-top: 5rem;
  height: 700px;
  background-image: url(../../assets/images/fundingImage5.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.csr-header h1 {
  width: 100%;
  height: 100%;
  font-size: 4rem;
  color: white;
  background-color: rgba(7, 72, 135, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.csr-navigation {
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.csr-navigation a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: black;
  border: 2px solid black;
  border-radius: 1rem;
  cursor: pointer;
}

.csr-navigation a:hover {
  background-color: black;
  color: white;
}

.csr-para {
  width: 70%;
  margin: 2rem auto;
}

.csr-para h1 {
  font-size: 2.5rem;
  color: #013759;
}

.csr-main-page-content {
  width: 70%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.csr-info {
  width: 100%;
}

.csr-info h1 {
  font-size: 1.5rem;
  color: #013759;
  margin: 1rem 0;
}

.csr-info p {
  font-size: 1rem;
  padding: 0 10px;
  color: #352d2d;
  line-height: 25px;
}

.csr-info ol {
  padding-left: 1.5rem;
}

.csr-info ol li {
  font-size: 1rem;
  color: #352d2d;
  line-height: 25px;
}

.csr-info ul {
  padding-left: 1.5rem;
}

.csr-info ul li {
  font-size: 1rem;
  color: #352d2d;
  line-height: 25px;
}

.csr-main-page-content aside {
  width: 50%;
  padding-left: 1rem;
  margin-left: 1rem;
  border-left: 2px solid skyblue;
}

.csr-main-page-content aside p {
  font-size: 1rem;
  padding: 5px 0;
}

.csr-main-page-content aside p a {
  color: red;
  text-decoration: none;
}

/* RESPONSIVE CODE */
@media (max-width: 1024px) {
  .csr-navigation {
    width: 80%;
  }

  .csr-para {
    width: 80%;
    margin-bottom: 0;
  }

  .csr-main-page-content {
    width: 80%;
    flex-direction: column;
  }

  .csr-main-page-content aside {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    border-left: none;
    border-top: 2px solid skyblue;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .csr-navigation,
  .csr-para,
  .csr-main-page-content {
    width: 90%;
  }

  .csr-para h1 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .csr-header {
    height: 450px;
  }

  .csr-header h1 {
    font-size: 2rem;
  }

  .csr-navigation,
  .csr-para,
  .csr-main-page-content {
    width: 95%;
  }

  .csr-navigation a {
    padding: 0.5rem;
  }
}
