.fellowship-div {
  width: 100%;
}

.fellowship-header {
  width: 100%;
  height: 700px;
  background-image: url(../../assets/images/fundingImage2.jpg);
  background-size: cover;
  background-position: center;
}

.fellowship-header h1 {
  width: 100%;
  height: 100%;
  font-size: 4rem;
  color: white;
  background-color: rgba(7, 72, 135, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fellowship-navigation {
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.fellowship-navigation a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: black;
  border: 2px solid black;
  border-radius: 1rem;
  cursor: pointer;
}

.fellowship-navigation a:hover {
  background-color: black;
  color: white;
}

.fellowship-para {
  width: 70%;
  margin: 2rem auto;
  color: #013759;
  text-align: left;
  line-height: 1.6;
}

.fellowship-para p {
  font-size: 1.5rem;
  font-weight: 600;
}

.fellowship-para h5 {
  margin-top: 2.5rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.fellowship-cards {
  width: 70%;
  margin: 2rem auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.fellowship-card-link {
  text-decoration: none;
  color: inherit;
}

.fellowship-card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.fellowship-card:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.fellowship-card img {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
  object-fit: inherit;
}

.fellowship-card h3 {
  font-size: 1.4rem;
  color: #013759;
  margin: 1.5rem;
}

.fellowship-card p {
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
  line-height: 1.5;
  color: #333;
  flex-grow: 1;
}

/* reponsive */
@media (max-width: 1024px) {
  .fellowship-cards,
  .fellowship-para,
  .fellowship-navigation {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .fellowship-para,
  .fellowship-navigation {
    width: 95%;
  }

  .fellowship-cards {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .fellowship-header {
    height: 450px;
  }
  .fellowship-header h1 {
    font-size: 3rem;
  }

  .fellowship-navigation a {
    padding: 0.5rem;
  }

  .fellowship-para p {
    font-size: 20px;
    font-weight: 600;
  }

  .fellowship-para h5 {
    margin-top: 1.5rem;
    font-size: 1rem;
  }
  .fellowship-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
