.seeds-header {
  width: 100%;
  margin-top: 2rem;
  height: 700px;
  background-image: url(../../assets/images/fundingImage4.jpg);
  background-size: cover;
  background-position: center;
}

.seeds-header h1 {
  width: 100%;
  height: 100%;
  font-size: 4rem;
  color: white;
  background-color: #074887;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.seeds-navigation {
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.seeds-navigation a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: black;
  border: 2px solid black;
  border-radius: 1rem;
  cursor: pointer;
}

.seeds-navigation a:hover {
  background-color: black;
  color: white;
}

.seeds-main-page-content {
  width: 70%;
  display: flex;
  margin: 2rem auto;
}

.seeds-main-page-content h3 {
  font-weight: 400;
  font-size: 21px;
  color: #013759;
  margin: 30px 0 15px 0;
}

.seeds-main-page-content h4 {
  margin: 0 0 15px;
  font-size: 18pt;
  font-weight: 600;
  color: #013759;
}

.seeds-main-page-content h5 {
  font-weight: 400;
  font-size: 18px;
  color: #013759;
  margin: 30px 0 15px 0;
}

.seeds-main-page-content ul {
  margin: 15px 0;
  padding-left: 16px;
}

.seeds-main-page-content ul li {
  margin: 0.5em 0;
}

.seeds-main-page-content p {
  margin: 15px 0 30px;
}

.seeds-main-page-content span a {
  color: black;
  border: 2px solid black;
  font-weight: 600;
  padding: 3px 18px;
  font-size: 14px;
  text-decoration: none;
  border-radius: 2em;
  white-space: nowrap;
  letter-spacing: 0.028em;
}

.seeds-main-page-content span a:hover {
  background-color: black;
  color: white;
}

.seeds-main-page-content aside {
  width: 40%;
  padding-left: 1rem;
  margin-left: 1rem;
  border-left: 2px solid skyblue;
}

.seeds-main-page-content aside p a {
  color: red;
  text-decoration: none;
}

.seeds-submain {
  width: 100%;
  height: 100%;
  word-spacing: 1px;
  color: #013759;
  font-size: 12.5px;
}

.seeds-submain h1 {
  margin-top: 1px;
}

.seeds-buttons {
  display: flex;
  margin: 2rem 0;
  gap: 1rem;
  flex-wrap: wrap;
}

.seeds-buttons button {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 1rem;
  cursor: pointer;
}

.seeds-buttons button:hover {
  color: #fff;
  background-color: #020202;
}

.seeds-investpro {
  width: 100%;
  height: 100%;
}

.seeds-investpro h1 {
  font-size: 24px;
  color: #013759;
}

.seeds-investpro p {
  font-size: 18px;
  color: #352d2d;
  line-height: 25px;
}

.seeds-investpro ul li {
  font-size: 18px;
  color: #352d2d;
  line-height: 25px;
}

.seeds-fundingschemes {
  width: 100%;
  margin: 2rem 0;
}

.seeds-boxes {
  width: 100%;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1rem;
}

.seeds-subbox {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.seeds-subbox h1 {
  font-size: 1rem;
  color: black;
}

.seeds-subbox p {
  font-size: 1rem;
  color: #352d2d;
  line-height: 25px;
}

/* RESPONSIVE CODE */
@media (max-width: 1024px) {
  .seeds-navigation {
    width: 80%;
  }

  .seeds-main-page-content {
    width: 80%;
    flex-direction: column;
  }

  .seeds-main-page-content aside {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    border-left: none;
    border-top: 2px solid skyblue;
    padding-top: 20px;
  }
}

@media (max-width: 768px) {
  .seeds-navigation,
  .seeds-main-page-content {
    width: 90%;
  }

  .seeds-boxes {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 1rem;
  }

  .seeds-subbox {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .seeds-header {
    height: 450px;
  }

  .seeds-header h1 {
    font-size: 2rem;
  }

  .seeds-navigation,
  .seeds-main-page-content {
    width: 95%;
  }

  .seeds-navigation a {
    padding: 0.5rem;
  }

  .seeds-submain-para {
    font-size: 20px;
  }
}
