.funding-div {
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.funding-header {
  width: 100%;
  height: 650px;
  background-image: url(../src/assets/images/fundingImage1.jpg);
  background-size: cover;
  background-position: center;
}

.funding-header h1 {
  width: 100%;
  height: 100%;
  font-size: 65px;
  color: white;
  background-color: rgba(7, 72, 135, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.funding-para {
  width: 70%;
  margin: 5rem auto;
  font-size: 24px;
  color: #013759;
  text-align: left;
}

.funding-para button {
  display: block;
  margin-top: 1.5rem;
  width: 250px;
  height: 40px;
  padding: 10px;
  font-weight: bold;
  border-radius: 20px;
  color: #020202;
  background-color: #fff;
  border: 2px solid #074887;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.funding-para button:hover {
  background-color: #074887;
  color: #fff;
}

.funding-cards {
  width: 70%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.funding-card {
  width: calc(33.33% - 20px);
  height: auto;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.funding-card:hover {
  transform: scale(1.05);
}

.funding-card img {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.funding-card h3 {
  font-size: 1.75rem;
  color: #013759;
  margin: 1.5rem;
  text-align: left;
}

.funding-card p {
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
  line-height: 1.5;
  color: #333;
  text-align: left;
  flex-grow: 1;
}

/* --------- Responsive Design --------- */
@media (max-width: 1200px) {
  .funding-cards {
    width: 90%;
  }
  .funding-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 1024px) {
  .funding-para {
    width: 85%;
  }
  .funding-cards {
    width: 90%;
  }
  .funding-card {
    width: calc(50% - 15px);
  }
}

@media (max-width: 768px) {
  .funding-para {
    width: 90%;
  }
  .funding-cards {
    width: 95%;
    justify-content: center;
  }
  .funding-card {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .funding-header {
    height: 400px;
  }
  .funding-header h1 {
    font-size: 45px;
  }
  .funding-para {
    width: 95%;
    font-size: 1.2rem;
  }
  .funding-card {
    width: 100%;
  }
}
